.pagination {
    margin-top: 30px;
}

.pagination__prev {
    margin: 0 16px 0 0;
}

.pagination__list {
    margin: 0 19px 0 0;
}

.pagination__list li {
    margin-right: -4px;
}

.pagination__prev,
.pagination__list,
.pagination__list li,
.pagination__next {
    display: inline-block;
}

.pagination a {
    color: #010101;
    font-size: 14px;
    line-height: 37px;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    padding: 0 15px;
    text-decoration: none
}

.pagination a:hover {
    border: 1px solid #c6c6c6;
}

.pagination a.active {
    background-color: #e8e8e8;
    ;
}

.pagination__list>li>a {
    display: block;
}

.pagination__list {
    list-style: none;
    padding-left: 0;
}

@media screen and (max-width: 480px) {
    .pagination a {
        font-size: 10px;
        line-height: 30px;
        padding: 0 10px;
    }
    .pagination__prev {
        margin: 0 10px 0 0;
    }
    .pagination__list {
        margin: 0 14px 0 0;
    }
}