@media (max-width: 1200px) {
  .favorite-page-content .favorite-block .catalog-list__item:nth-of-type(-n+3) {
    border-top: 1px solid #efefef;
  }
  .favorite-page-content .favorite-block .catalog-list__item:nth-of-type(3n+1) {
    border-left: 1px solid #efefef;
  }
  .favorite-page-content .favorite-block .catalog-list__item {
    width: 33.3%;
    border-top: none;
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
  }
}

@media (max-width: 992px) {
  .favorite-page-content .favorite-block .catalog-list__item {
    width: 50%;
  }
  .favorite-page-content .favorite-block .catalog-list__item:nth-of-type(-n+2) {
    border-top: 1px solid #efefef;
  }
  .favorite-page-content .favorite-block .catalog-list__item:nth-of-type(2n+1) {
    border-left: 1px solid #efefef;
  }
}

@media (max-width: 768px) {
  .favorite-page-content .favorite-block .catalog-list__item {
    width: 100%;
    margin: 0 auto;
  }
  .favorite-page-content .favorite-block .catalog-list__item:not(:nth-of-type(1)) {
    border-top: none;
    border-left: 1px solid #efefef;
  }
  .favorite-page-content .favorite-block .favorite-block__comments .add-comment__field input,
  .favorite-page-content .favorite-block .favorite-block__comments .add-comment__field textarea {
    width: 100%;
  }
  .favorite-page-content .favorite-block .favorite-block__comments .add-comment__field label {
    margin-bottom: 10px;
  }
  .favorite-page-content .favorite-block .favorite-block__comments .add-comment__btn {
    padding: 0;
    text-align: center;
  }
  .favorite-page-content .favorite-block .favorite-block__comments .add-comment__btn button {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .catalog-wrap .catalog__filter {
    width: 100%;
  }
  .catalog-wrap .catalog__filter .catalog__filter_toggle {
    display: block;
  }
  .catalog-wrap .filter,
  .catalog-wrap .filter-param {
    display: none;
  }
  .catalog-wrap .catalog {
    padding: 8px 0px;
  }
  .favorite-page-content .favorite-block .favorite-block__share .social-links {
    height: auto;
  }
}

@media (max-width: 370px) {
  .favorite-page-content .favorite-block .add-comment__btn .checkbox-stylized label:after {
    top: 0;
    right: 93% !important;
  }
}