.add-block .catalog__sort-by:after {
  display: none;
}

.catalog-list__item .catalog__sort-by,
.favorite-block__share .catalog__sort-by {
  display: none;
  padding-right: 0;
  margin-right: 0;
}

.catalog-list__item .catalog__sort-by .sort > span,
.favorite-block__share .catalog__sort-by .sort > span {
  position: relative;
  background-color: transparent;
}

.catalog-list__item .catalog__sort-by .sort > span:after,
.favorite-block__share .catalog__sort-by .sort > span:after {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  right: -20px;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(".././img/keyboard-down-arrow-button.png") center center no-repeat;
}

.catalog-list__item .catalog__sort-by .sort-dropdown,
.favorite-block__share .catalog__sort-by .sort-dropdown {
  text-align: left;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.catalog-list__item .catalog__sort-by .sort-item span:not(.list-item-name),
.favorite-block__share .catalog__sort-by .sort-item span:not(.list-item-name) {
  display: none;
  color: #8e8e8e;
}

.catalog-list__item .catalog__sort-by .sort-item.add-list,
.favorite-block__share .catalog__sort-by .sort-item.add-list {
  border-top: 1px solid #efefef;
}

.catalog-list__item .catalog__sort-by .sort-item.add-list a,
.favorite-block__share .catalog__sort-by .sort-item.add-list a {
  color: #dd3d25;
  text-decoration: none;
}

.catalog-list__item .catalog__sort-by .sort-item .list-item-name,
.favorite-block__share .catalog__sort-by .sort-item .list-item-name {
  color: #000000;
}

.disabled {
  pointer-events: none;
  opacity: 0.5 !important;
  color: #565656 !important;
  background-color: #efefef !important;
}

.popups-container .sub-text {
  font-size: 14px;
  color: #565656;
  opacity: 0.5;
}

.popups-container button {
  margin-bottom: 0;
}

.popups-container .popup__content {
  padding-bottom: 30px;
}

.move-to-fav {
  position: fixed;
  bottom: 0;
  right: 90px;
  display: block;
  color: #ffffff;
  background: url("../img/keyboard-right-arrow-button-1.png") right 30px center no-repeat;
  background-color: #dd3d25;
  text-decoration: none;
  line-height: 47px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 0 50px 0 25px;
}

.move-to-fav:hover {
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .catalog-list__item .catalog__sort-by .sort-dropdown {
    width: 100%;
  }
}

/* BEGIN: 01-06-18 */
.favorite-page-content .favorite-block .favorite-block__share {
  clear: both;
  padding: 3px 25px;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment {
  background-color: #efefef;
  padding: 35px;
  margin-bottom: 17px;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment h3 {
  margin-top: 0;
}

.favorite-page-content .favorite-list {
  margin-bottom: 25px;
}

.favorite-page-content .pagination {
  margin-bottom: 30px;
}

.favorite-page-content .favorite-block__title {
  float: left;
}

.favorite-page-content .link_back-to {
  display: inline-block;
  float: right;
  font-size: 14px;
  color: #dd3d25;
  text-decoration: none;
  background: url("../img/keyboard-left-dbl-arrow-button.png") left center no-repeat;
  border-bottom: 1px solid #eeeeee;
  padding-left: 15px;
  margin-top: 8px;
}

.popup .btn-remove {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #565656;
  opacity: 0.5;
  text-decoration: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 17px;
}

.popup .btn-remove:hover {
  opacity: 1;
}

.favorite-block__share .add-block,
.favorite-block__share .link {
  display: inline-block;
}

.favorite-block__share > .link {
  font-size: 14px;
  color: #000000;
  line-height: 37px;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

.favorite-block__share .link_copy {
  color: #ffffff;
  background: url("../img/link.png") left 15px center no-repeat;
  background-color: #dd3d25;
  padding-left: 43px;
  margin-right: 12px;
}

.favorite-block__share .link_copy:hover {
  background-color: #cd2910;
}

.favorite-block__share .catalog__sort-by {
  display: inline-block;
  padding-right: 20px;
}

.favorite-block__share .sort-dropdown {
  left: -40px;
  width: 280px;
  list-style: none;
  padding: 4px 0 0 0;
}

/* END: 01-06-18 */
