/* <a href="#" class="catalog-list__item-link">
<img src="./img/prod1.png" alt="product">
<div class="description">Подгузники Huggies Ultra Comfort 5 Disney Girl</div>
</a> WRAP */

/* CHANGES */

.catalog-list__item-link {
    text-decoration: none;
}

.sort-item_active {
    background-color: #fdf1ef;
}

.catalog-wrap .catalog {
    padding: 8px 35px 30px 50px;
}

.catalog__title {
    margin-top: 15px;
}

.l-width.favorite-page-content {
    max-width: none;
}

.l-wrapper .favorite-page-content .l-container {
    max-width: 1210px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .catalog-wrap .catalog__filter {
        width: 100%;
    }
    .catalog-wrap .filter,
    .catalog-wrap .filter-param {
        display: none;
    }
    .catalog-wrap .catalog__filter .catalog__filter_toggle {
        display: block;
    }
    .catalog-wrap .catalog {
        padding: 0;
    }
}