/* old styles */
@font-face {
	font-family: "PT Sans";
	src: url('../fonts/pt_sans_regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: url('../fonts/pt_sans_bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'cocon-regularregular';
	src: url('../fonts/cocon_regular.eot');
	src: url('../fonts/cocon_regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/cocon_regular.woff2') format('woff2'),
	url('../fonts/cocon_regular.woff') format('woff'),
	url('../fontscocon_regular.ttf') format('truetype'),
	url('../fonts/cocon_regular.svg#cocon-regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.test {
	display: block;
	font-size: 50px;
}

/* old styles end */

.popups-container {
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0, 0.52);
	z-index: 200;
}


.popups-container * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.popups-container .popup {
	position: relative;
	display: none;
	margin: 100px auto 0;
	padding: 38px 0 0;
	max-width: 520px;
	background-color: #fff;
}

.popups-container .close__btn {
	position: absolute;
	top: 11px;
	right: 13px;
	width: 21px;
	height: 21px;
	background: url(../img/close.png) no-repeat;
}

.popup__content {
	padding: 0 44px;
}

.popups-container .popup__head {
	margin-bottom: 31px;
	font-size: 33px;
	font-weight: bold;
	text-align: center;
}

.popups-container form {
	color: #565656;
	font-size: 14px;
	line-height: 22px;
}

.popups-container .form__item {
	margin-bottom: 17px;
}

.popups-container .form__item label {
	display: block;
	margin-bottom: 9px;
}

.popups-container .form__item input {
	width: 100%;
	padding: 8px 16px;
	border: 1px solid #efefef;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #565656;

}

.popups-container .form__item input:focus {
	border-color: #c9c9c9;
}


.popups-container .form__item input.error {
	border-color: #dd3d25;
}

.popups-container .form__item input.error {
	border-color: #dd3d25;
}

.popups-container .form__item input.error::placeholder{
	color: #dd3d25;
}

.popups-container .form__item input.error::-webkit-input-placeholder{
	color: #dd3d25;
}

.popups-container .form__item input.error::-moz-placeholder{
	color: #dd3d25;
}

.popups-container .form__item input.error:-moz-placeholder{
	color: #dd3d25;
}

.popups-container .form__item input.error:-ms-input-placeholder {
	color: #dd3d25;
}

.popups-container button {
	width: 100%;
	margin-top: 9px;
	margin-bottom: 50px;
	padding: 11px 16px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	background-color: #dd3d25;
	border: none;
}

.popup__footer {
	padding: 22px 44px 23px;
	border-top: 1px solid #efefef;
	background-color: #fafafa;
	font-size: 14px;
	line-height: 22px;
}

.popup__footer a {
	color: #565656;
	text-decoration: none;
	border-bottom: 1px solid #e0e0e0;
}

.registration__btn {
	position: relative;
	margin-left: 25px;
}

.registration__btn:before {
	content: "";
	position: absolute;
	top: calc(50% + 2px);
	left: -25px;
	width: 14px;
	height: 15px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background: url(../img/key.png) no-repeat;

}

.popup__footer .password__recovery {
	float: right;
}

.checkbox-stylized {
	margin-top: 21px;
}

.checkbox-stylized label {
	margin-bottom: -6px;
}

.popups-container input[type="checkbox"] {
	display:none;
}

.popups-container input[type="checkbox"] + label {
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 24px;
}

.popups-container input[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 13px;
	width: 13px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #c9c9c9;
}

.popups-container  input[type="checkbox"]:checked + label::before {
	background: url(../img/checkbox.png) no-repeat;
	background-position: center;
	border: 1px solid #d8d8d8;
}

.popup__open {
	overflow: hidden!important;
}

.l-wrapper .detail-page-content {
	max-width: none;
	background: url(../img/bg.png) no-repeat;
	background-size: 880px 789px;
	background-position: calc(100% + 134px) 100%;
}

.detail-page-content .l-container {
	max-width: 1210px;
	padding: 0 15px;
	margin: 0 auto;
}

.detail-page-content .detail__item {
	max-width: 1110px;
	width: 100%;
	margin: 0 auto;
	padding: 53px 50px 10px;
	background-color: #fff;
}

.detail__item_img {
	display: inline-block;
	width: 563px;
	margin-bottom: 20px;
}

.detail-big-slider {
	margin-bottom: 16px;
}

.detail__item_img .slider__item {
	padding: 0 3px;
}

.detail-big-slider .slider__item_wrap {
	display: table;
	width: 100%;
	height: 358px;
	border: 1px solid #eeeeee;
}

.detail__item_img .slider__item_wrap div {
	display: table-cell;
	vertical-align: middle;
}

.detail__item_img .slider__item_wrap img {
	margin: 0 auto;
}

.detail-small-slider {
	padding: 0 17px;
}

.detail-small-slider .slider__item_wrap {
	display: table;
	width: 100%;
	max-width: 112px;
	height: 72px;
	margin: 0 auto;
	border: 1px solid #e6e6e6;
}

.detail-small-slider .slick-current .slider__item_wrap {
	border-color: #faa598;
}

.detail__item_img  .slick-arrow {
	position: absolute;
	top: 50%;
	width: 10px;
	height: 19px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
}

.detail__item_img  .slider-small-left-arrow {
	left: 3px;
	background: url(../img/slider-arrow.png) no-repeat;
	-webkit-transform: translateY(-50%) rotate(180deg);
	-moz-transform: translateY(-50%) rotate(180deg);
	-ms-transform: translateY(-50%) rotate(180deg);
	-o-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

.detail__item_img  .slider-small-left-arrow:hover {
	background-position: -10px 0;
}

.detail__item_img  .slider-small-right-arrow {
	right: 1px;
	background: url(../img/slider-arrow.png) no-repeat;

}

.detail__item_img  .slider-small-right-arrow:hover {
	background-position: -10px 0;
}