body,
html {
  min-width: 320px;
  margin: 0;
}

.hidden {
  display: none;
}

body {
  font-family: "PT Sans", Verdana, Helvetica, sans-serif;
}

.catalog-list__item-link {
  display: block;
  height: 265px;
  overflow: hidden;
}

.l-wrapper .catalog-page-content {
  max-width: none;
  background: url(../img/bg.png) no-repeat;
  -webkit-background-size: 880px 789px;
  background-size: 880px 789px;
  background-position: -webkit-calc(100% + 134px) 100%;
  background-position: calc(100% + 134px) 100%;
}

.l-wrapper .catalog-page-content .l-container {
  max-width: 1210px;
  margin: 0 auto;
}

.catalog-wrap .container {
  max-width: 1210px;
  background-color: #eeeeee;
}

.catalog-wrap .catalog {
  max-width: 1210px;
  background-color: #fff;
  padding: 8px 25px 30px 30px;
}

.catalog-wrap .catalog__filter {
  width: 230px;
}

.catalog-wrap .catalog__filter .catalog__filter_toggle {
  display: none;
}

.catalog-wrap .catalog__filter .catalog__filter_toggle a {
  position: relative;
  display: block;
  font-size: 14px;
  color: #565656;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  background-color: #f7f7f7;
  border: 1px solid #f2f2f2;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.catalog-wrap .catalog__filter .catalog__filter_toggle a:hover {
  background-color: #d4d4d4;
}

.catalog-wrap .catalog__title {
  font-size: 33px;
  font-weight: bold;
  text-transform: none;
}

.catalog-wrap ul {
  list-style: none;
  padding-left: 0;
}

.catalog-wrap .filter,
.catalog-wrap .filter-param__show-link {
  background-color: #f7f7f7;
  border: 1px solid #f2f2f2;
}

.catalog-wrap .filter__link,
.catalog-wrap .filter-param__show-link {
  position: relative;
  display: block;
  font-size: 14px;
  color: #565656;
  line-height: 50px;
  text-decoration: none;
}

.catalog-wrap .filter__link {
  padding-left: 20px;
  padding-right: 20px;
}

.catalog-wrap .filter__link.active {
  color: #ffffff;
  background-color: #a21d79;
}

.catalog-wrap .filter__link.active:after {
  background: url(".././img/keyboard-right-arrow-button-white.png") center center no-repeat;
}

.catalog-wrap .filter__link:after {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  right: 20px;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(".././img/keyboard-right-arrow-button.png") center center no-repeat;
}

.catalog-wrap .filter-param .filter__link.open:after {
  background: url(".././img/keyboard-up-arrow-button.png") center center no-repeat;
}

.catalog-wrap .filter-param__title {
  font-size: 14px;
  font-weight: bold;
  color: #1d1d1d;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog-wrap .filter-param__show-link {
  text-align: center;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.catalog-wrap .filter-param__show-link:hover {
  background-color: #d4d4d4;
}

.catalog-wrap .filter-param__reset {
  display: block;
  font-size: 14px;
  color: #565656;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}

.catalog-wrap .filter-param__reset:hover {
  color: #565656;
}

.catalog-wrap .filter-param__reset span {
  opacity: 0.4;
}

.catalog-wrap .filter-param__reset span:hover {
  opacity: 1;
}

.catalog-wrap .filter-param__reset input {
  display: none;
}

.catalog-wrap .filter__item:not(:last-child) {
  border-bottom: 1px solid #f2f2f2;
}

.catalog-wrap .filter__dropdown {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.catalog-wrap .filter__dropdown:after {
  position: absolute;
  display: block;
  content: '';
  width: 13px;
  height: 1px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #dcdcdc;
}

.catalog-wrap .filter__dropdown input {
  width: 84px;
  height: 36px;
  color: #808080;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #efefef;
  padding-left: 12px;
}

.catalog-wrap .filter__dropdown input:focus {
  border-color: #c9c9c9;
  outline: 0;
}

.catalog-wrap .catalog__sort {
  margin-bottom: 20px;
}

.catalog-wrap .catalog__sort-by,
.favorite-block__share .catalog__sort-by {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #696969;
  line-height: 35px;
  padding-right: 20px;
  margin-right: 50px;
  cursor: pointer;
}

.catalog-wrap .catalog__sort-by:after {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  right: 0;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(".././img/keyboard-down-arrow-button.png") center center no-repeat;
}

.catalog-wrap .catalog__sort-by:hover,
.favorite-block__share .catalog__sort-by:hover {
  color: #dd3d25;
}

.catalog-wrap .catalog__sort-by:hover .sort-dropdown,
.favorite-block__share .catalog__sort-by:hover .sort-dropdown {
  display: block;
}

.catalog-wrap .sort-dropdown,
.favorite-block__share .sort-dropdown {
  display: none;
  position: absolute;
  width: 280px;
  top: 20px;
  color: #000000;
  background-color: #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 7px 14.25px 0.75px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 7px 14.25px 0.75px rgba(0, 0, 0, 0.07);
  padding-top: 4px;
  z-index: 100;
}

.catalog-wrap .sort-dropdown .sort-item,
.favorite-block__share .sort-dropdown .sort-item {
  position: relative;
  line-height: 35px;
  padding-left: 40px;
}

.catalog-wrap .sort-dropdown .sort-item.sort-item_active:before,
.catalog-wrap .sort-dropdown .sort-item:hover:before,
.favorite-block__share .sort-dropdown .sort-item.sort-item_active:before,
.favorite-block__share .sort-dropdown .sort-item:hover:before {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 20px;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(".././img/checked.png") center center no-repeat;
}

.catalog-wrap .sort-dropdown .sort-item:hover,
.favorite-block__share .sort-dropdown .sort-item:hover {
  background-color: #fdf1ef;
}

.catalog-wrap .catalog-list {
  border: 1px solid #efefef;
  border-right: none;
  border-bottom: none;
  margin-bottom: 25px;
}

.catalog-wrap .catalog-list__item {
  height: auto;
  text-align: center;
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #efefef;
  padding: 20px;
}

.catalog-wrap .catalog-list__item img {
  max-width: 170px;
  height: 170px;
  margin-bottom: 30px;
}

.catalog-wrap .catalog-list__item .description {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 8px;
}

.catalog-wrap .catalog-list__item .prize {
  font-size: 14px;
  color: #a4a4a4;
  margin-bottom: 8px;
}

.catalog-wrap .catalog-list__item .add-to-favorite {
  display: block;
  font-size: 14px;
  color: #ffffff;
  line-height: 37px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #dd3d25;
  text-decoration: none;
}

.catalog-wrap .catalog-list__item .add-to-favorite:hover {
  background-color: #cd2910;
}

.catalog-wrap .catalog-list__item:hover {
  -webkit-box-shadow: 0px 7px 14.25px 0.75px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 7px 14.25px 0.75px rgba(0, 0, 0, 0.07);
}

.catalog-wrap .catalog-list__item:hover .description {
  color: #dd3d25;
}

.catalog-wrap .catalog-list__item:hover .prize {
  font-weight: bold;
  color: #000000;
}

.catalog-wrap .catalog-list__item:hover .add-block {
  display: block;
}

.catalog-wrap .catalog-list__item .add-block,
.favorite-block__share .sort-dropdown {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #ffffff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 7px 14.25px 0.75px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 7px 14.25px 0.75px rgba(0, 0, 0, 0.07);
  padding: 0 20px 20px;
  z-index: 100;
}

.catalog-wrap .catalog-list__more {
  margin-bottom: 30px;
}

.catalog-wrap .catalog-list__more a {
  display: block;
  font-size: 14px;
  color: #565656;
  text-decoration: none;
  text-align: center;
  line-height: 47px;
  border: 1px solid #efefef;
}

.catalog-wrap .catalog-list__more a:hover {
  background-color: #efefef;
}

.catalog-wrap .catalog-list__more span {
  color: #dd3d25;
}

.catalog-wrap .catalog-list__text {
  font-size: 16px;
  opacity: 0.6;
}

.favorite-page-content {
  max-width: none;
  background: url(../img/bg.png) no-repeat;
  -webkit-background-size: 880px 789px;
  background-size: 880px 789px;
  background-position: -webkit-calc(100% + 134px) 100%;
  background-position: calc(100% + 134px) 100%;
}

.favorite-page-content .favorite-list {
  margin: 0 0 110px;
}

.favorite-page-content .favorite-block {
  max-width: 1210px;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}

.favorite-page-content .favorite-block .catalog-list__item:nth-of-type(-n+5) {
  border-top: 1px solid #efefef;
}

.favorite-page-content .favorite-block .catalog-list__item:nth-of-type(5n+1) {
  border-left: 1px solid #efefef;
}

.favorite-page-content .favorite-block .catalog-list__item {
  position: relative;
  width: 20%;
  text-align: center;
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #efefef;
  padding: 20px 20px 10px;
}

.favorite-page-content .favorite-block .catalog-list__item .remove {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.favorite-page-content .favorite-block .catalog-list__item .remove img {
  width: 16px;
  height: 16px;
}

.favorite-page-content .favorite-block .catalog-list__item img {
  max-width: 170px;
  height: 170px;
  margin-bottom: 30px;
}

.favorite-page-content .favorite-block .catalog-list__item .add-to-favorite {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  color: #ffffff;
  line-height: 37px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #dd3d25;
  text-decoration: none;
}

.favorite-page-content .favorite-block .catalog-list__item .add-to-favorite:hover {
  background-color: #cd2910;
}

.favorite-page-content .favorite-block .catalog-list__item .description {
  min-height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 8px;
}

.favorite-page-content .favorite-block .catalog-list__item .prize {
  font-size: 14px;
  color: #a4a4a4;
  margin-bottom: 8px;
}

.favorite-page-content .favorite-block .catalog-list__item .add-block {
  position: relative;
  height: 75px;
}

.favorite-page-content .favorite-block .catalog-list__item .name-disabled {
  position: absolute;
  display: none;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  color: #565656;
  opacity: 0.5;
  line-height: 37px;
}

.favorite-page-content .favorite-block .catalog-list__item .add-block_disabled .add-to-favorite {
  color: #565656;
  top: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #efefef;
  pointer-events: none;
}

.favorite-page-content .favorite-block .catalog-list__item .add-block_disabled .name-disabled {
  display: block;
}

.favorite-page-content .favorite-block .favorite-block__share {
  background-color: #efefef;
  padding: 10px 15px;
  margin-bottom: 25px;
}

.favorite-page-content .favorite-block .favorite-block__share .social-links {
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.favorite-page-content .favorite-block .favorite-block__share .social-links .link {
  display: inline-block;
}

.favorite-page-content .favorite-block .favorite-block__share .social-links .link a {
  display: block;
  vertical-align: top;
}

.favorite-page-content .favorite-block .favorite-block__share .text {
  position: relative;
  font-size: 14px;
  color: #565656;
  white-space: nowrap;
  padding-left: 25px;
}

.favorite-page-content .favorite-block .favorite-block__share .text:before {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 8px;
  width: 9px;
  height: 1px;
  background-color: #565656;
}

.favorite-page-content .favorite-block .favorite-block__comments .comment {
  border-bottom: 1px solid #efefef;
  padding: 30px 0 14px;
}

.favorite-page-content .favorite-block .favorite-block__comments .comment:nth-of-type(1) {
  border-top: 1px solid #efefef;
}

.favorite-page-content .favorite-block .favorite-block__comments .comment .datetable {
  display: inline-block;
}

.favorite-page-content .favorite-block .favorite-block__comments .comment .athor {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-right: 30px;
}

.favorite-page-content .favorite-block .favorite-block__comments .comment .time,
.favorite-page-content .favorite-block .favorite-block__comments .comment .date {
  font-size: 14px;
  color: #919191;
}

.favorite-page-content .favorite-block .favorite-block__comments .comment .time {
  margin-right: 10px;
  padding-right: 13px;
  border-right: 1px solid #919191;
}

.favorite-page-content .favorite-block .favorite-block__comments .comment p {
  font-size: 16px;
  color: #8d8d8d;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment {
  color: #565656;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment h3 {
  color: #000000;
  margin: 30px 0;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment .input-error {
  color: #dd3d25;
  border-color: #dd3d25;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field {
  margin-bottom: 17px;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field input,
.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field textarea {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #efefef;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #565656;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field input.input-error,
.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field textarea.input-error {
  border-color: #dd3d25;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field input::-webkit-input-placeholder,
.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field textarea::-webkit-input-placeholder {
  color: #dd3d25;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field input::-moz-placeholder,
.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field textarea::-moz-placeholder {
  color: #dd3d25;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field input:-ms-input-placeholder,
.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field textarea:-ms-input-placeholder {
  color: #dd3d25;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field input::-ms-input-placeholder,
.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field textarea::-ms-input-placeholder {
  color: #dd3d25;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field input::placeholder,
.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field textarea::placeholder {
  color: #dd3d25;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field label {
  display: inline-block;
  width: 112px;
  line-height: 35px;
  vertical-align: top;
  margin-right: 25px;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field input {
  width: 465px;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__field textarea {
  width: -webkit-calc(100% - 141px);
  width: calc(100% - 141px);
  resize: none;
  overflow: hidden;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__btn {
  padding-left: 140px;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__btn button {
  width: 224px;
  padding: 11px 16px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  background-color: #dd3d25;
  border: none;
  cursor: pointer;
  margin-right: 17px;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__btn button:hover {
  background-color: #cd2910;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__btn .checkbox-stylized {
  display: inline-block;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__btn .checkbox-stylized label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__btn .checkbox-stylized label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  height: 13px;
  width: 13px;
  background: url("../img/checked.png") center no-repeat;
  -webkit-background-size: 90% 90%;
  background-size: 90%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #c9c9c9;
}

.favorite-page-content .favorite-block .favorite-block__comments .add-comment__btn .checkbox-stylized label.check:before {
  background: none;
  border: 1px solid #dd3d25;
}