.add-block .catalog__sort-by:after
    display: none
.catalog-list__item,
.favorite-block__share
    .catalog__sort-by
        display: none
        padding:
            right: 0
        margin:
            right: 0
        .sort>span
            position: relative
            background-color: transparent
            &:after
                position: absolute
                display: block
                content: ''
                top: 50%
                right: -20px
                width: 12px
                height: 12px
                -webkit-transform: translateY(-50%)
                -ms-transform: translateY(-50%)
                transform: translateY(-50%)
                background: url(".././img/keyboard-down-arrow-button.png") center center no-repeat
        .sort-dropdown
            text-align: left
            border-radius: 2px
        .sort-item
            span:not(.list-item-name)
                display: none 
                color: #8e8e8e
            &.add-list
                border-top: 1px solid #efefef
                a
                    color: #dd3d25
                    text-decoration: none
            .list-item-name
                color: #000000
.disabled
    pointer-events: none
    opacity: 0.5!important
    color: #565656!important
    background-color: #efefef!important
.popups-container
    .sub-text
         font-size: 14px
         color: #565656
         opacity: 0.5
    button
        margin-bottom: 0
    .popup__content
        padding-bottom: 30px
.move-to-fav
    position: fixed
    bottom: 0
    right: 90px
    display: block
    color: #ffffff
    background: url('../img/keyboard-right-arrow-button-1.png') right 30px center no-repeat
    background-color: #dd3d25
    text-decoration: none
    line-height: 47px
    border-radius: 2px
    padding: 0 50px 0 25px
    &:hover
        color: #ffffff
@media screen and (max-width: 992px)
    .catalog-list__item
        .catalog__sort-by
            .sort-dropdown
                width: 100%

