/* BEGIN: 01-06-18 */
.favorite-page-content 
    .favorite-block
        .favorite-block__share
            clear: both
            padding: 3px 25px        
        .favorite-block__comments 
            .add-comment
                background-color: #efefef
                padding: 35px
                margin-bottom: 17px
                h3
                    margin-top: 0
    .favorite-list
        margin-bottom: 25px
    .pagination
        margin-bottom: 30px
    .favorite-block__title
        float: left
    .link_back-to
        display: inline-block
        float: right
        font-size: 14px
        color: #dd3d25
        text-decoration: none
        background: url('../img/keyboard-left-dbl-arrow-button.png') left center no-repeat
        border-bottom: 1px solid rgba(238, 238, 238, 1)
        padding-left: 15px
        margin-top: 8px
.popup
    .btn-remove
        position: relative
        display: inline-block
        font-size: 14px
        color: #565656
        opacity: 0.5
        text-decoration: none
        left: 50%
        transform: translateX(-50%)
        margin-top: 17px
        &:hover
            opacity: 1
.favorite-block__share
    .add-block,
    .link
        display: inline-block
    >.link
        font-size: 14px
        color: #000000
        line-height: 37px
        text-decoration: none
        padding:
            left: 15px
            right: 15px
    .link_copy
        color: #ffffff
        background: url('../img/link.png') left 15px center no-repeat
        background-color: #dd3d25
        padding-left: 43px
        margin-right: 12px
        &:hover
            background-color: #cd2910
    .catalog__sort-by
        display: inline-block
        padding-right: 20px
    .sort-dropdown
        left: -40px
        width: 280px
        list-style: none
        padding: 4px 0 0 0
/* END: 01-06-18 */